#mem .inside { 
	padding: 0; 
	margin-bottom: 0;}
#mem .jj,
#mem .hh,
#mem .mn { 
	width: 2em;
	}
#mem .aa { 
	width: 3em;
}
#mem input { 
	padding: 1px; 
}
#mem .mem-delete-timestamp { 
	color:red;
}
.mem-timestamp-wrap {
	padding: 5px 0 7px 0;
}
.mem-timestamp-wrap .mm {
	height: 20px;
	line-height: 14px;
	vertical-align: top;
}
.mem-timestamp-wrap .aa {
	width: 3.4em;
}
.mem-timestamp-wrap input {
	font-size: 12px;
}

#mem .date-title { 
	padding-left: 0;
	background: none;	 
}

#mem .date-title:before {
	content: '\f145';
	font: normal 20px/1 'dashicons';
	speak: none;
	display: inline-block;
	padding: 0 2px 0 0;
	top: 0;
	left: -1px;
	position: relative;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
	text-decoration: none !important;
	color: #888;
}

/* Old Styling for 3.5 - 3.7 */

.branch-3-5 .#mem .date-title,
.branch-3-6 .#mem .date-title,
.branch-3-7 .#mem .date-title {
  padding-left: 18px; 
  background: url("../images/date-button.gif") no-repeat top left; 
}

.branch-3-5 #mem .date-title:before,
.branch-3-6 #mem .date-title:before,
.branch-3-7 #mem .date-title:before {
	content: '';
}